<div *ngIf="isLoading" class="overlay">
  <div class="spinner" role="status">
    <span class="app-spinner"></span>
  </div>
</div>

<div class="form-group p-3 m-3 " *ngIf="!isLoading && refereCreated !== checkTheRefereeForTournament(tournament)?.requiredReferees">
  <div class="flex">
    <h4>Crea Arbitro</h4>
    <p>Il tuo torneo ha bisogno di {{numRefereesExpected}} arbitri</p>
  </div>
  <div>
    <h5>Arbitri assegnati a questo torneo: {{ refereCreated }}</h5>
  </div>
  <form [formGroup]="refereeForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nome:</label>
      <input type="text" id="name" formControlName="name" class="form-control" placeholder="Inserisci il nome dell'arbitro">
      <div *ngIf="isNotValidAndTouched('name')" class="error-message error-text">Il nome deve essere almeno di 3 caratteri</div>
    </div>
    <div class="form-group">
      <label for="surname">Cognome:</label>
      <input type="text" id="surname" formControlName="surname" class="form-control" placeholder="Inserisci il cognome dell'arbitro">
      <div *ngIf="isNotValidAndTouched('surname')" class="error-message error-text">Il cognome deve essere almeno di 3 caratteri</div>
    </div>
    <div class="form-group">
      <label for="nickname">Nickname:</label>
      <input type="text" id="nickname" formControlName="nickname" class="form-control" placeholder="Inserisci il soprannome dell'arbitro">
      <div *ngIf="isNotValidAndTouched('nickname')" class="error-message error-text">Il nickname deve essere almeno di 3 caratteri</div>
    </div>
    <div class="form-group">
      <label for="dateOfBirth">Data di nascita:</label>
      <input type="date" id="dateOfBirth" formControlName="dateOfBirth" class="form-control" placeholder="Inserisci la data di nascita (dd-MM-yyyy)">
      <div *ngIf="isNotValidAndTouched('dateOfBirth')" class="error-message error-text">Devi essere maggiorenne</div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="refereeForm.invalid">Crea Arbitro</button>
  </form>
</div>

<div class="text-center m-5 p-5 bg-light rounded-3" *ngIf="refereCreated == checkTheRefereeForTournament(tournament)?.requiredReferees">
  <h2>Hai aggiunto il numero esatto di arbitri necessario per il livello del tuo torneo.</h2>
  <h2 class="text-success">Congratulazioni!!</h2>
  <h3>Sei pronto per iniziare il tuo torneo?</h3>
  <p>È il momento di scoprire chi sarà il nuovo campione di questo fantastico torneo.</p>
  <p class="fw-bold fs-3 text-success">Buon divertimento!!</p>
  <button routerLink="/tournament/{{nameTournament}}" class="btn btn-outline-primary btn-lg" *ngIf="refereCreated === checkTheRefereeForTournament(tournament)?.requiredReferees">
    <span class="bi bi-check-circle-fill me-2"></span> Vai Al Torneo
  </button>
</div>

