<div *ngIf="isLoading" class="overlay">
  <div class="spinner" role="status">
    <span class="app-spinner"></span>
  </div>
</div>

<div class="bg-dark text-white p-3 m-4 rounded-3" *ngIf="!isLoading">
  <i class="bi bi-arrow-left-circle-fill pointer" (click)="goBack()"></i>
  <h2>Modifica Password</h2>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="mt-4">

    <div class="form-group">
      <label for="oldPassword">Vecchia Password</label>
      <input type="password" id="oldPassword" formControlName="oldPassword" class="form-control">
      <div *ngIf="formControls['oldPassword'] && formControls['oldPassword']!.invalid && (formControls['oldPassword']!.dirty || formControls['oldPassword']!.touched)" class="error-message">
        <div *ngIf="formControls['oldPassword']!.errors && formControls['oldPassword']!.errors['required']" class="error-text">Il campo Vecchia Password non può essere vuoto</div>
        <div *ngIf="formControls['oldPassword']!.errors && formControls['oldPassword']!.errors['minlength']" class="error-text">La Vecchia Password deve essere composta da almeno 7 caratteri</div>
      </div>
    </div>

    <div class="form-group">
      <label for="newPassword">Nuova Password</label>
      <input type="password" id="newPassword" formControlName="newPassword" class="form-control">
      <div *ngIf="formControls['newPassword'] && formControls['newPassword']!.invalid && (formControls['newPassword']!.dirty || formControls['newPassword']!.touched)" class="error-message">
        <div *ngIf="formControls['newPassword']!.errors && formControls['newPassword']!.errors['required']" class="error-text">Il campo Nuova Password non può essere vuoto</div>
        <div *ngIf="formControls['newPassword']!.errors && formControls['newPassword']!.errors['minlength']" class="error-text">La Nuova Password deve essere composta da almeno 7 caratteri</div>
      </div>
    </div>

    <div class="form-group">
      <label for="newConfirmPassword">Conferma Nuova Password</label>
      <input type="password" id="newConfirmPassword" formControlName="newConfirmPassword" class="form-control">
      <div *ngIf="formControls['newConfirmPassword'] && formControls['newConfirmPassword']!.invalid && (formControls['newConfirmPassword']!.dirty || formControls['newConfirmPassword']!.touched)" class="error-message">
        <div *ngIf="formControls['newConfirmPassword']!.errors && formControls['newConfirmPassword']!.errors['required']" class="error-text">Il campo Conferma Nuova Password non può essere vuoto</div>
        <div *ngIf="formControls['newConfirmPassword']!.errors && formControls['newConfirmPassword']!.errors['minlength']" class="error-text">La Conferma Nuova Password deve essere composta da almeno 7 caratteri</div>
        <div *ngIf="passwordForm.hasError('passwordMismatch')" class="error-text">Le nuove password non corrispondono</div>
      </div>
    </div>

    <div class="flex">
      <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary my-3">Modifica Password</button>
    </div>
  </form>

</div>
