<div *ngIf="isLoading" class="overlay">
  <div class="spinner" role="status">
    <span class="app-spinner"></span>
  </div>
</div>

<div *ngFor="let tournament of tournaments" class="tournament-card p-3 m-3">
  <div class="tournament-details">
    <p class="tournament-name">Nome Torneo: <span>{{ tournament.name }}</span></p>
    <p class="tournament-level">Livello: <span>{{ tournament.level }}</span></p>
    <p class="tournament-start-date">Data di Inizio: <span>{{ tournament.startDate }}</span></p>
    <p class="tournament-place">Luogo: <span>{{ tournament.place?.address?.via }}, {{ tournament.place?.address?.civico }} {{ tournament.place?.address?.cap }}</span></p>
    <p class="tournament-court-name">Nome Campo: <span>{{ tournament.place?.courtName }}</span></p>
    <h4 class="tournament-teams" >Squadre:</h4>
    <div *ngFor="let team of tournament.teams">
      <p>{{team.logo}}</p>
      <p>{{team.name}}</p>
      <p>{{team.captain.name}}</p>
    </div>
    <div *ngFor="let referee of tournament.referees">
      <h4 class="tournament-referees" >Arbitro/i:</h4>
      <p>{{referee.name}}</p>
      <p>{{referee.surname}}</p>
      <p>{{referee.age}}</p>
    </div>
  </div>
  <div class="tournament-cover">
    <img [src]="tournament.coverUrl || '../../../../assets/logo tournament.png'" alt="Cover del torneo">
  </div>
  <button routerLink="/tournament/{{tournament.name}}/referee" class="btn btn-outline-success" *ngIf="!isStarted(tournament) && checkTheRefereeForTournament(tournament) === 'Aggiungi arbitro'">Aggiungi Arbitro/i</button>
  <button routerLink="/tournament/{{tournament.name}}" class="btn btn-outline-success" *ngIf="!isStarted(tournament) && checkTheRefereeForTournament(tournament) === 'Inizia torneo'">INIZIA TORNEO</button>
  <button routerLink="/tournament/{{tournament.name}}" class="btn btn-outline-success" *ngIf="isStarted(tournament)">Guarda l'andamento del torneo</button>

</div>

