<div *ngIf="isLoading" class="overlay">
  <div class="spinner" role="status">
    <span class="app-spinner"></span>
  </div>
</div>

<div class="navbar navbar-expand-lg navbar-light bg-light ">
  <div class="container-fluid">
    <form class="d-flex" #tournamentForm="ngForm">
      <input class="form-control me-2" type="search" id="tournamentNameInput" placeholder="Nome Torneo"
        aria-label="Filter by Tournament Name" [(ngModel)]="tournamentName" name="tournamentName">

      <input class="form-control me-2" type="date" id="startDateInput" placeholder="Data Inizio"
        aria-label="Filter by Starter Date" [(ngModel)]="startDate" name="startDate">

        <select id="cityName"  class="form-control" [(ngModel)]="cityName" name="cityName">
          <option value="" disabled selected hidden>Città</option>
          <option *ngFor="let province of provinces" [value]="province.name">{{ province.name }}</option>
        </select>



        <select class="form-select me-2" id="tournamentStateInput" aria-label="Filter by Tournament State"
        [(ngModel)]="tournamentState" name="tournamentState">
        <option value="" disabled selected hidden>Stato</option>
        <option value="SCHEDULED">Programmato</option>
        <option value="STARTED">Iniziato</option>
        <option value="FINISHED">Finito</option>
        </select>

      <select class="form-select me-2" id="tournamentLevelInput" aria-label="Filter by Tournament Level"
        [(ngModel)]="tournamentLevel" name="tournamentLevel">
        <option value="" disabled selected hidden>Livello</option>
        <option value="Junior">Junior</option>
        <option value="Rising Stars">Rising Stars</option>
        <option value="Elite">Elite</option>
      </select>




      <button class="btn btn-outline-success" type="button" (click)="filterTournaments()">FILTRA</button>
    </form>
  </div>
</div>

<div *ngFor="let tournament of tournaments" class="tournament-card p-3 m-3">
  <div class="absolute pointer">
    <i class="bi" [ngClass]="{'bi-heart-fill': isTournamentInFavorites(tournament.name), 'bi-heart': !isTournamentInFavorites(tournament.name)}" (click)="toggleFavorite(tournament.name)"></i>
  </div>
  <div class="tournament-details">
    <p class="tournament-name">Nome Torneo: <span>{{ tournament.name }}</span></p>
    <p class="tournament-level">Livello: <span>{{ tournament.level }}</span></p>
    <p class="tournament-start-date">Data di Inizio: <span>{{ tournament.startDate }}</span></p>
    <p class="tournament-place">Luogo: <span>{{ tournament.place?.address?.via }}, {{ tournament.place?.address?.civico }} {{ tournament.place?.address?.cap }}</span></p>
    <p class="tournament-court-name">Nome Campo: <span>{{ tournament.place?.courtName }}</span></p>
    <h4 class="tournament-teams" >Squadre:</h4>
    <div *ngFor="let team of tournament.teams">
      <p>{{team.logo}}</p>
      <p>{{team.name}}</p>
    </div>
    <div *ngFor="let referee of tournament.referees">
      <h4 class="tournament-referees" >Arbitro/i:</h4>
      <p>{{referee.name}}</p>
      <p>{{referee.surname}}</p>
      <p>{{referee.age}}</p>
    </div>
  </div>
  <div class="tournament-cover">
    <img [src]="tournament.coverUrl || '../../../../assets/logo tournament.png'" alt="Cover del torneo">
  </div>
  <!-- Manager Button -->
  <button routerLink="/tournament/{{tournament.name}}/referee" class="btn btn-outline-success" *ngIf="!isStarted(tournament) && checkTheRefereeForTournament(tournament) === 'Aggiungi arbitro' && !isFinished(tournament) && isManagerOrCoordinator" >Aggiungi Arbitro/i</button>
  <button routerLink="/tournament/{{tournament.name}}/teams" class="btn btn-outline-success" *ngIf="!isStarted(tournament) && checkTheRefereeForTournament(tournament) === 'Aggiungi Squadre' && !isFinished(tournament) && isManagerOrCoordinator && tournament.teams!.length<16">Aggiungi Squadra</button>
  <button routerLink="/tournament/{{tournament.name}}/rounds" class="btn btn-outline-success" *ngIf="!isStarted(tournament) && checkTheRefereeForTournament(tournament) === 'Aggiungi Squadre' && !isFinished(tournament) && isManagerOrCoordinator && tournament.teams!.length == 16" >Iniza Torneo</button>

  <!-- User Button -->
  <button routerLink="/tournament/{{tournament.name}}/rounds" class="btn btn-outline-success" *ngIf="isStarted(tournament) && !isFinished(tournament)">Guarda l'andamento del torneo</button>
  <button class="btn btn-outline-success" [disabled]="!isStarted(tournament)" *ngIf="!isStarted(tournament) && !isFinished(tournament)">Il torneo non è ancora iniziato</button>
  <button routerLink="/tournament/{{tournament.name}}/rounds" class="btn btn-outline-success" *ngIf="isFinished(tournament)">Il torneo è finito, scopri chi ha vinto e chi è l'MVP</button>

</div>

<div class="height" *ngIf="tournaments.length == 0 && !isLoading">
  <div class="message-container">
    <p class="message">Non ci sono tornei disponibili</p>
    <button class="btn btn-danger" (click)="goBack()">TORNA INDIETRO</button>
  </div>
</div>

