@import "../../shared/variables";
.height {
  height: 55vh;
}
.container-mini-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rounds {
  text-decoration: none;
  color: #333;
  padding: 10px 15px;
}
.rounds:hover{
  cursor: pointer;
  text-decoration: underline;
  color: $primary;
}

.container-mini-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rounds {
  text-decoration: none;
  color: #333;
  padding: 10px 15px;
}
.rounds:hover{
  cursor: pointer;
  text-decoration: underline;
  color: $primary;
}


.logo-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
}
.logo-container img {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: auto;
}

.container-iscrivi{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:flex-end;
}

.dropdown-menu {
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.dropdown-item {
  padding: 0.5rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: $primary;
}



