<div class="app-nav-tournament"></div>
<div class="container">
<h2> IL TORNEO È COMPOSTO DA {{teams.length}} SQUADRE </h2>
<div class="container-iscrivi" *ngIf="!isLoading">
  <p>Ecco quali le squadre parteciperanno</p>
  <div class="dropdown">
    <!-- da aggiungere : && teams.length < 16 -->
    <button *ngIf="isCaptainOrManager  " (click)="toggleDropdown()" class="btn btn-success mb-3 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      ISCRIVITI LA TUA SQUADRA
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" [ngClass]="{ 'show': dropdownOpen }">
      <a class="dropdown-item" routerLink="/team/existing/tournament/{{tournamentName}}">Iscrivi una squadra esistente</a>
      <a class="dropdown-item" routerLink="/team/create/tournament/{{tournamentName}}">Crea una nuova squadra</a>
    </div>
  </div>
</div>


<div *ngIf="isLoading" class="overlay">
  <div class="spinner" role="status">
    <span class="app-spinner"></span>
  </div>
</div>
<div class="container">
  <div class="row" *ngIf="!isLoading">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let team of teams">
      <div class="card mb-4">
        <div class="logo-container">
          <img *ngIf="team.logo; else defaultLogo" class="card-img-top rounded-circle" [src]="team.logo" alt="Logo squadra">
          <ng-template #defaultLogo>
            <img class="card-img-top rounded-circle" src="../../../assets/logo team.jpg" alt="Logo predefinito">
          </ng-template>
        </div>

        <div class="card-body">
          <h5 class="card-title">{{ team.name }}</h5>
        </div>

        <div class="card-footer">
          <button class="btn btn-primary" routerLink="/team/player/{{team.name}}">Scopri di più del team</button>
          <button class="btn btn-warning" routerLink="/team/update/{{team.name}}">Modifica il Nome o il capitano</button>
          <button class="btn btn-danger" (click)="removeTeam(team.name)">Elimina il Team dal Torneo</button>
        </div>
      </div>
    </div>
  </div>
</div>

</div>



