<div *ngIf="isLoading" class="overlay">
  <div class="spinner" role="status">
    <span class="app-spinner"></span>
  </div>
</div>
<i class="bi bi-arrow-left-circle-fill pointer" (click)="goBack()"></i>
<div *ngIf="isTournamentFinished">
  <h2> L'MVP del torneo {{tournamentName}} è</h2>
  <p class="fw-bold fs-1">{{player[0].playerName}}</p>
</div>

<div class="leaderboard my-3 container rounded-2" >
  <h2 >CLASSIFICA MVP</h2>
  <table>
    <thead>
      <tr>
        <th>Posizione</th>
        <th>Nome</th>
        <th>Punti</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let player of leadBoard.playerPointsList; let i=index">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ player.playerName }}</td>
          <td>{{ player.points }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>




