<div class="container my-3 bg-light rounded-2">
  <div class="row justify-content-center">
    <div class="col-md-8">

      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
          <!-- Campo Nome -->
          <div class="col">
            <div class="form-group">
              <label for="name">Nome</label>
              <input type="text" formControlName="name" class="form-control" placeholder="Mario">
              <div class="error-message" *ngIf="registrationForm.get('name')?.invalid && (registrationForm.get('name')?.dirty || registrationForm.get('name')?.touched)">
                <div *ngIf="registrationForm.get('name')?.errors?.['required']" class="error-text">Il campo nome non può essere vuoto/null</div>
                <div *ngIf="registrationForm.get('name')?.errors?.['minlength']" class="error-text">Il nome deve essere di almeno 3 caratteri</div>
              </div>
            </div>
          </div>

          <!-- Campo Cognome -->
          <div class="col">
            <div class="form-group">
              <label for="surname">Cognome</label>
              <input type="text" formControlName="surname" class="form-control" placeholder="Rossi">
              <div class="error-message" *ngIf="registrationForm.get('surname')?.invalid && (registrationForm.get('surname')?.dirty || registrationForm.get('surname')?.touched)">
                <div *ngIf="registrationForm.get('surname')?.errors?.['required']" class="error-text">Il campo cognome non può essere vuoto/null</div>
                <div *ngIf="registrationForm.get('surname')?.errors?.['minlength']" class="error-text">Il cognome deve essere di almeno 3 caratteri</div>
              </div>
            </div>
          </div>

          <!-- Campo Nome Utente -->
          <div class="col">
            <div class="form-group">
              <label for="username">Nome Utente</label>
              <input type="text" formControlName="username" class="form-control" placeholder="mario23">
              <div class="error-message" *ngIf="registrationForm.get('username')?.invalid && (registrationForm.get('username')?.dirty || registrationForm.get('username')?.touched)">
                <div *ngIf="registrationForm.get('username')?.errors?.['required']" class="error-text">Il campo nome utente non può essere vuoto/null</div>
                <div *ngIf="registrationForm.get('username')?.errors?.['minlength']" class="error-text">Il nome utente deve essere di almeno 5 caratteri</div>
              </div>
            </div>
          </div>

          <!-- Campo Data di Nascita -->
          <div class="col">
            <div class="form-group">
              <label for="dateOfBirth">Data di Nascita</label>
              <input type="date" formControlName="dateOfBirth" class="form-control" placeholder="gg/mm/aaaa">
              <div class="error-message" *ngIf="registrationForm.get('dateOfBirth')?.invalid && (registrationForm.get('dateOfBirth')?.dirty || registrationForm.get('dateOfBirth')?.touched)">
                <div *ngIf="registrationForm.get('dateOfBirth')?.errors?.['required']" class="error-text">Il campo data di nascita non può essere vuoto</div>
                <div *ngIf="registrationForm.get('dateOfBirth')?.errors?.['invalidDate']" class="error-text">Formato data non valido (gg/mm/aaaa)</div>
              </div>
            </div>
          </div>


          <!-- Campo Email -->
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" formControlName="email" class="form-control" placeholder="mariorossi@esempio.it">
            <div class="error-message" *ngIf="registrationForm.get('email')?.invalid && (registrationForm.get('email')?.dirty || registrationForm.get('email')?.touched)">
              <div *ngIf="!validateEmail(registrationForm.get('email')?.value)" class="error-text">Email non valida</div>
            </div>
          </div>

          <!-- Campo Password -->
          <div class="col">
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" formControlName="password" class="form-control" placeholder="password">
              <div class="error-message" *ngIf="registrationForm.get('password')?.invalid && (registrationForm.get('password')?.dirty || registrationForm.get('password')?.touched)">
                <div *ngIf="registrationForm.get('password')?.errors?.['required']" class="error-text">Il campo password non può essere vuoto</div>
                <div *ngIf="registrationForm.get('password')?.errors?.['minlength']" class="error-text">La password deve essere di almeno 7 caratteri</div>
              </div>
            </div>
          </div>

          <div class="col col-md-12 col-lg-12">
            <div class="form-group" >
              <label for="confirmPassword">Conferma Password</label>
              <input type="password" formControlName="confirmPassword" class="form-control" placeholder="conferma password">
              <div class="error-message" *ngIf="registrationForm.get('confirmPassword')?.invalid && (registrationForm.get('confirmPassword')?.dirty || registrationForm.get('confirmPassword')?.touched)">
                <div *ngIf="registrationForm.hasError('passwordMismatch')" class="error-text">Le password non corrispondono</div>
              </div>
            </div>
          </div>

        </div>
        <button type="submit" class="btn btn-primary my-3" [disabled]="registrationForm.invalid">Registrati</button>
        <div *ngIf="isLoading" class="overlay">
          <div class="spinner" role="status">
            <span class="app-spinner"></span>
          </div>
        </div>
        <div class="container-link-login">
          <p class="frase">Sei già iscritto?</p>
          <p routerLink="/auth/login" class="login">vai al login</p>
        </div>
      </form>
    </div>
  </div>
</div>
