@import "../../shared/variables";

.form-group{
 margin: 15px 0px;


}
.btn{
  width: 100%;
}

.container-link-login{
  display: flex;
  align-items: center;

}
.frase{
font-size: 13px;
margin-right: 3px;
}
.login{
  text-decoration: underline;
  font-size: 11px;
}
.login:hover{
  cursor: pointer;
  color: $primary;
}
