<h2> Pronto a lasciare il segno creando il tuo torneo di basket?</h2>
<a routerLink="auth/register/manager">Unisciti ora e diventa un organizzatore!</a>
<h2> Vuoi vivere da protagonista l'emozione del torneo?</h2>
<a routerLink="auth/register/user">Registrati per seguire ogni azione!</a>
<h2> Sogna in grande, forma la tua squadra e conquista il torneo!</h2>
<a routerLink="auth/register/user">Iscriviti ora e inizia la tua avventura!</a>
<h2> Già parte della nostra community?</h2>
<a routerLink="auth/login">Accedi e continua a giocare!</a>
