
<nav class="navbar navbar-expand-lg bg-primary" [ngClass]="{'sticky': isSticky}">
  <div class="container-fluid">
    <div class=" logo-container" routerLink="/">
      <img src="../../../assets/logo .png" routerLink="" alt="logo" class="logo">
    </div>
    <button class="navbar-toggler" (click)="toggleNav()" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"> </span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{show: active}" id="navbarNav">
      <ul class="navbar-nav">
        <ul ngbNav [activeId]="route.fragment | async" class="nav-tabs">
        <div class="links">
          @for (link of links; track link) {
            <li [ngbNavItem]="link.fragment">
              <a ngbNavLink [routerLink]="[link.fragment]">{{ link.title }}</a>
            </li>
          }
        </div>
      </ul>
      </ul>
    </div>
  </div>
</nav>
