@import "../../shared/variables";

.navbar {
  display: flex;
  align-items: center;
  background-color: #242222;

  .navbar-toggler {
    background-color: $primary;
    border-color: $primary
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }
  .offcanvas-header .btn-close {
    background-color: $primary;
  }

  .offcanvas-header .btn-close:focus {
   box-shadow: none;
  }

  .transizione{
    transition: all 0.5s ;
  }
  .nav-link{
    font-size: 15px;
  }
  .nav-link:hover{
    text-decoration: underline;
    color: $primary;
  }
}

.nav-tabs{
  border-bottom: none;
}
.navbar-toggler {
  background-color: $primary;
  border-color: black
}
.navbar-toggler:focus {
  box-shadow: none;
}


.sticky {
  position: fixed;
  background-color: black;
  transition: all 1s ease-in-out;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.logo{
  width: 100%;
  border-radius: 100%;
}
