
<nav class="navbar  bg-primary" [ngClass]="{'sticky': isSticky}">
  <div class="container-fluid">
    <div class=" logo-container pointer"  >
      <img src='../../../assets/logo .png' routerLink="/" alt="" class="logo" *ngIf="!isLoggedIn">
    <img src='../../../assets/logo .png' routerLink="/{{username}}" alt="" class="logo" *ngIf="isLoggedIn">
      <!-- adding user img  -->
    </div>
    <button class="navbar-toggler" type="button" (click)="toggleNav()" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end transizione"  [ngClass]="{show: active}" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">3vs3 Easy Tournament</h5>
        <button type="button" class="btn-close" (click)="toggleNav()" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/"  (click)="toggleNav()" *ngIf="!isLoggedIn">Cerca torneo in città diversa.</a>
            <a class="nav-link active" aria-current="page" routerLink="/{{username}}"  (click)="toggleNav()" *ngIf="isLoggedIn">Cerca torneo in città diversa.</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="auth/login" *ngIf="!isLoggedIn" (click)="toggleNav()">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="auth/register" *ngIf="!isLoggedIn" (click)="toggleNav()">Registrazione</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="user/profilo/{{username}}" *ngIf="isLoggedIn && !isGoogleUser" (click)="toggleNav()">Il mio account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="user/get/all" *ngIf="isManager" (click)="toggleNav()">Tutti gli Utenti</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="team/create" *ngIf="isManager || isCoordinator" (click)="toggleNav()">Crea una Sqaudra</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="tournament/create" *ngIf="isManager" (click)="toggleNav()">Crea un torneo</a>
          </li>
        </ul>

        <button class="btn btn-danger" (click)="logout()" *ngIf="isLoggedIn" >LOGOUT</button>
      </div>
    </div>
  </div>
</nav>
