<nav class="navbar p-3">
  <div class="container ">
    <form class="search-bar" role="search" >
      <input class="form-control me-2" type="search" placeholder="Cerca città..."
             aria-label="Search" [(ngModel)]="searchTerm" name="searchTerm" (input)="onSearch()">
      <button class="btn btn-outline-success" type="submit">Cerca</button>
    </form>
  </div>
</nav>


<div *ngIf="provinces.length > 0; else noProvinces">
  <div *ngFor="let province of provinces" class="province-card">
  <div class="province-details">
    <p class="province-name">Nome: <span>{{province.name | uppercase}}</span></p>
    <p class="province-sigla">Sigla Provincia: <span>{{province.sigla | uppercase}}</span></p>
  </div>
  <div class="province-action">
    <h6>Scopri quali tornei ci sono in questa città</h6>
    <button class="btn btn-outline-warning" routerLink="/tournament/province/{{province.name}}">SCOPRI</button>
  </div>
</div>
</div>
<ng-template #noProvinces>
  <div class="province-details no-provinces-found">
    <p class="province-name">Nessuna provincia trovata.</p>
  </div>
</ng-template>

