<main class="app-home-search"></main>
  <div class="container create " >
    <p class="description">
      Organizza un torneo di basket nella tua città natale e porta divertimento a piccoli e grandi! Creare un torneo di basket offre un'opportunità unica per riunire la comunità, promuovere lo spirito sportivo e l'attività fisica, e celebrare la passione per questo sport affascinante. I tornei di basket non solo offrono un'esperienza competitiva e divertente per i partecipanti, ma possono anche aiutare a creare legami duraturi tra gli amanti dello sport e promuovere la salute e il benessere nella tua comunità. Che tu sia un giocatore appassionato, un appassionato di sport o un semplice appassionato di divertimento, organizzare un torneo di basket è un modo fantastico per coinvolgere la tua città e creare ricordi indelebili per tutti i partecipanti. Scopri il potenziale di creare qualcosa di straordinario e unisciti a noi nel promuovere il divertimento, l'amicizia e la passione per il basket!
    </p>
    <button class="btn btn-primary" routerLink="/auth/register/manager">Crea Torneo</button>
  </div>

  <div class="container create">
    <h2 class="section-title">Diventa Capitano di Squadra!</h2>
    <p class="description">
      Sei un appassionato di basket e vuoi guidare la tua squadra alla vittoria? Diventa capitano di squadra e iscrivi il tuo team al nostro torneo! Metti alla prova le tue abilità di leadership, crea legami con i tuoi compagni di squadra e vivi un'esperienza sportiva indimenticabile.
    </p>
    <button class="btn btn-primary" routerLink="/auth/register/coordinator">Diventa Organizzatore</button>
  </div>

  <div class="container create">
    <h2 class="section-title">Segui l'Andamento del Torneo!</h2>
    <p class="description">
      Sei un giocatore appassionato ma non sei un capitano di squadra? Nessun problema! Segui l'andamento del torneo, scopri quanti punti hai fatto e in quale posizione sei nella classifica MVP. Resta aggiornato sulle ultime partite, le classifiche e le prestazioni delle squadre.
    </p>
    <button class="btn btn-primary" routerLink="/auth/register/user">Segui il Torneo</button>
  </div>
