<div class="login-container">
  <div class="login-box">
    <main>
      <div class="container">
        <h2 class="text-center">Entra nel mondo del basket con le tue credenziali</h2>
        <form [formGroup]="form" (ngSubmit)="access()">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" formControlName="username" id="username" class="form-control" />
            <div *ngIf="form.get('username')?.invalid && (form.get('username')?.dirty || form.get('username')?.touched)"
                class="error-message">
                <div class="error-text" *ngIf="form.get('username')?.errors?.['required']"> Username è richiesto.</div>
                <div class="error-text" *ngIf="form.get('username')?.errors?.['minlength']"> Username deve essere di almeno 5 caratteri.</div>
            </div>
        </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" id="password" class="form-control" />
            <div *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)"
              class="error-message">
              <div *ngIf="form.get('password')?.errors?.['required'] " class="error-text">La password è richiesta.</div>
              <div *ngIf="form.get('password')?.errors?.['minlength']" class="error-text">La password deve essere lunga
                almeno 7 caratteri.</div>
            </div>
          </div>
          <button type="submit" class="btn " [disabled]="form.invalid">
            Accedi
          </button>
          <div *ngIf="isLoading" class="overlay">
            <div class="spinner" role="status">
              <span class="app-spinner"></span>
            </div>
          </div>
          <p class="text-center">
            <a class="nav-link" routerLink="/auth/register" routerLinkActive="active">Oppure Registrati</a>
          </p>
        </form>

      </div>
    </main>
  </div>
</div>
