<div class="container text-center py-4">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
  <div class="col">
    <h2 class="text-primary">Pronto a lasciare il segno creando il tuo torneo di basket?</h2>
    <a routerLink="manager" class="btn btn-lg btn-success mb-3">
      <img src="../../../../assets/img organizzatore.jpg" alt="Basketball Tournament" class="img-fluid">
      <p class="lead text-light">Unisciti ora e diventa un organizzatore!</p>
    </a>
  </div>


  <div class="col">
    <h2 class="text-primary">Vuoi vivere da protagonista l'emozione del torneo?</h2>
    <a routerLink="user" class="btn btn-lg btn-warning mb-3">
      <img src="../../../../assets/giocatori 3 vs 3.jpg" alt="Basketball Tournament" class="img-fluid">
      <p class="lead text-light">Registrati per seguire ogni azione!</p>
    </a>
  </div>


  <div class="col col-md-12">
    <h2 class="text-primary">Sogna in grande, forma la tua squadra e conquista il torneo!</h2>
    <a routerLink="coordinator" class="btn btn-lg btn-danger mb-3">
      <img src="../../../../assets/capitano 3vs 3.jpg" alt="Basketball Tournament" class="img-fluid">
      <p class="lead text-light">Iscriviti ora e inizia la tua avventura!</p>
    </a>
  </div>

</div>
</div>


<router-outlet></router-outlet>
