<div class="container text-white" *ngIf="!isFinalFinished">
  <div class="text-center " [ngClass]="{'height': games.length <= 2}">
    <a routerLink="/tournament/{{tournamentName}}/classifica">Clicca qui per vedere la classifica aggiornata MVP
      aggiornata in tempo reale</a>
    <h3>{{ getTournamentPhase(games.length) }}</h3>
    <div class="row ">
      <div class="col-12 col-md-6 col-lg-3  bg" *ngFor="let match of games">
        <div class="match">
          <div class="team">
            <ng-container *ngIf="match.homeTeam?.logo; else defaultLogo">
              <img [src]="match.homeTeam?.logo" alt="Home Team Logo" class="card-img-top rounded-circle">
            </ng-container>
            <ng-template #defaultLogo>
              <img class="card-img-top rounded-circle" src="../../../assets/logo team.jpg" alt="Default Logo">
            </ng-template>
            <span>{{ match.homeTeam?.name }}</span>
            <span class="fw-bold fs-3" *ngIf="isFinishedGame(match)"> {{match.homePoints}}</span>
          </div>

          <div class="vs">VS</div>

          <div class="team">
            <ng-container *ngIf="match.awayTeam?.logo; else defaultLogo">
              <img [src]="match.awayTeam?.logo" alt="Away Team Logo" class="card-img-top rounded-circle">
            </ng-container>
            <ng-template #defaultLogo>
              <img class="card-img-top rounded-circle" src="../../../assets/logo team.jpg" alt="Default Logo">
            </ng-template>
            <span>{{ match.awayTeam?.name }}</span>
            <span class="fw-bold fs-3" *ngIf="isFinishedGame(match)"> {{match.awayPoints}}</span>
          </div>
        </div>
        <button class="btn btn-success" routerLink="/game/{{match.id}}"
          *ngIf="!isFinishedGame(match) && isManagerOrCoordinator">Inizia
          Partita</button>
        <button class="btn btn-warning" routerLink="/game/{{match.id}}" *ngIf="isFinishedGame(match)">Guarda dettagli
          Partita</button>
        <button class="btn btn-warning" [disabled]="!isFinishedGame(match)" *ngIf="isUser && !isFinishedGame">La partita
          non è ancora iniziata</button>
      </div>
    </div>
    <button class=" btn btn-primary mb-3" *ngIf="areFinishedAllGames(games)"
      (click)="getRouterLink(games.length)">{{getRoundPhase(games.length)}}</button>

  </div>
</div>

<div>

  <div *ngFor="let match of games">
    <div class="flex">
      <div class="winner-card my-3" *ngIf="isFinalFinished">
        <h2 class="text-center mb-4">Il vincitore del torneo è: {{ match.winner?.name }}</h2>

        <div class="text-center mb-4">
          <ng-container *ngIf="match.winner?.logo; else defaultLogo">
            <img [src]="match.winner?.logo" alt="Home Team Logo" class="winner-logo">
          </ng-container>
          <ng-template #defaultLogo>
            <img class="winner-logo" src="../../../assets/logo team.jpg" alt="Default Logo">
          </ng-template>
        </div>

        <div class="text-center mb-4">
          <p class="lead">Il capitano di questo fantastico team è {{ match.winner?.captain?.nickname }} che ha
            totalizzato
            un totale di {{ match.winner?.captain?.point }} punti.</p>
        </div>

        <div>
          <h4 class="mb-3">Vi presento tutti i membri della squadra:</h4>
          <div *ngFor="let player of match.winner?.players" class="player-details mb-4">
            <h5>{{ player.name }}</h5>
            <p>All'età di {{ player.age }} anni, {{ player.name }} ha vinto il torneo {{ tournamentName }}.
              CONGRATULAZIONI!!</p>
            <p>{{ player.name }}, hai giocato un totale di {{ player.gamesPlayed }} partite segnando {{ player.point }}
              punti.</p>
          </div>
        </div>
      </div>

      <div>
        <app-classifica></app-classifica>
      </div>
    </div>

  </div>
  <p>Anche questo torneo è finito, potrai tornare quando vorrai per rivedere la classifica ed Il vincitore. Grazie per
    averci scelto!</p>

</div>
