<div *ngIf="isLoading" class="overlay">
  <div class="spinner" role="status">
    <span class="app-spinner"></span>
  </div>
</div>
<div class="container height">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" >
    <h2>Reimposta Password</h2>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" formControlName="password">
      <div *ngIf="resetPasswordForm.get('password')?.invalid && (resetPasswordForm.get('password')?.dirty || resetPasswordForm.get('password')?.touched)" class="error-message">
        <div *ngIf="resetPasswordForm.get('password')?.errors?.['required']" class="error-text">La password è richiesta</div>
        <div *ngIf="resetPasswordForm.get('password')?.errors?.['minlength']" class="error-text">La password deve essere di almeno 7 caratteri</div>
      </div>
    </div>
    <div class="form-group">
      <label>Conferma Password</label>
      <input type="password" class="form-control" formControlName="confirmPassword">
      <div *ngIf="resetPasswordForm.get('confirmPassword')?.invalid && (resetPasswordForm.get('confirmPassword')?.dirty || resetPasswordForm.get('confirmPassword')?.touched)" class="error-message">
        <div *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['required']" class="error-text">La conferma password è richiesta</div>
        <div *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('minlength')" class="error-text">La password di conferma deve essere di almeno 7 caratteri</div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3" [disabled]="!resetPasswordForm.valid">Reimposta Password</button>
  </form>
</div>
