<div *ngIf="isLoading" class="overlay">
  <div class="spinner" role="status">
    <span class="app-spinner"></span>
  </div>
</div>


<div class="my-3 p-2" *ngIf="!isLoading">
  <form>
    <div class="bg-dark p-2 text-white my-2">
    <h2>Modifica il team {{teamName}}</h2>

    <div class="form-group">
      <label for="coverImage">Modifica il tuo logo  (PNG o JPG)</label>
      <input type="file" id="coverImage" class="form-control" #fileInput (change)="onFileSelected($event, teamName)">
    </div>



    <div class="form-group">
      <label for="nameTeam">Nome del Team</label>
      <input type="text" class="form-control" id="nameTeam" [(ngModel)]="newName.teamName" name="nameTeam" required minlength="2" maxlength="50" placeholder="{{ teamToUpdate.name }}" #nameInput="ngModel">
      <div *ngIf="nameInput.touched && nameInput.invalid" class="error-text error-message">
        Il nome del team è obbligatorio e deve contenere almeno 3 caratteri.
      </div>
      <button (click)="updateName()" class="btn btn-warning">Modifica Il nome del Team</button>
    </div>

    <!-- Captain Name -->
    <div class="form-group mb-3">
      <label for="captainName">Nome del capitano</label>
      <input type="text" class="form-control" id="captainName" placeholder="{{ teamToUpdate.captain.name }}" [(ngModel)]="newCaptain.nickname" name="captainName" required minlength="2" maxlength="50" #captainNameInput="ngModel">
      <div *ngIf="captainNameInput.touched && captainNameInput.invalid" class="error-text error-message">
        Il nome del capitano è obbligatorio e deve essere uno dei giocatori.
      </div>
      <button (click)="updateCaptain()" class="btn btn-warning">Modifica il nome del capitano</button>

    </div>
  </div>
  </form>
</div>
