<div *ngIf="isLoading" class="overlay">
  <div class="spinner" role="status">
    <span class="app-spinner"></span>
  </div>
</div>



<div class="container my-3" *ngIf="!isLoading">
  <i class="bi bi-arrow-left-circle-fill pointer" routerLink="/tournament/{{tournamentString}}"></i>
  <h2 class="text-center">QUARTI DI FINALE</h2>
  <div class="container-match" *ngFor="let match of games">
    <div class="match">
    <div class="team">
      <ng-container *ngIf="match.homeTeam?.logo; else defaultLogo">
        <img [src]="match.homeTeam?.logo" alt="Home Team Logo" class="card-img-top rounded-circle">
      </ng-container>
      <ng-template #defaultLogo>
        <img class="card-img-top rounded-circle" src="../../../assets/logo team.jpg" alt="Default Logo">
      </ng-template>
      <span>{{ match.homeTeam?.name }}</span>
    </div>
    <div class="vs">VS</div>
    <div class="team">
      <ng-container *ngIf="match.awayTeam?.logo; else defaultLogo">
        <img [src]="match.awayTeam?.logo" alt="Away Team Logo" class="card-img-top rounded-circle">
      </ng-container>
      <ng-template #defaultLogo>
        <img class="card-img-top rounded-circle" src="../../../assets/logo team.jpg" alt="Default Logo">
      </ng-template>
      <span>{{ match.awayTeam?.name }}</span>
    </div>
  </div>
    <button class="btn btn-success">INIZIA PARTITA</button>
  </div>
</div>


