<div *ngIf="isLoading" class="overlay">
  <div class="spinner" role="status">
    <span class="app-spinner"></span>
  </div>
</div>

<div class="container height">
  <div class="row">
    <div class="col-md-6">
      <div class="recovery-section">
        <i class="bi bi-arrow-left-circle-fill pointer" (click)="goBack()"></i>
        <h3>Recupero Password</h3>
        <p>Inserisci il tuo indirizzo email per recuperare la password.</p>
        <form (ngSubmit)="recoverPassword()" #recoveryForm="ngForm">
          <div class="form-group">
            <input type="email" name="email" class="form-control" placeholder="Email" required [(ngModel)]="email">
            <div *ngIf="!validateEmail(email) && (recoveryForm.form.controls['email']?.dirty || recoveryForm.form.controls['email']?.touched)" class="error-message">
              <div class="error-text">Formato email non valido</div>
            </div>
          </div>
          <button type="submit" class="btn btn-success btn-block" [disabled]="!recoveryForm.valid || !validateEmail(email)">Recupera Password</button>
        </form>
      </div>
    </div>
  </div>
</div>
