<footer class="py-3 bg-dark text-white">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a routerLink="" class="nav-link px-2 text-white">Home</a></li>
    <li class="nav-item"><a routerLink="" class="nav-link px-2 text-white">Features</a></li>
    <li class="nav-item"><a routerLink="" class="nav-link px-2 text-white">Pricing</a></li>
    <li class="nav-item"><a routerLink="" class="nav-link px-2 text-white">FAQs</a></li>
    <li class="nav-item"><a routerLink="" class="nav-link px-2 text-white">About</a></li>
  </ul>
  <div>
    <p class="text-center text-white">© 2024 Easy 3vs3</p>
    <div class="logo-container logo-footer-margin">
      <img src="../../assets/logo .png" alt="logo" class="logo">
    </div>
  </div>
</footer>
